* {
  font-family: 'Lato', sans-serif;
}
  * :focus {
    outline: 0.0625rem dashed #717171;
  }

/* VARIABLES */

/* ANIMATIONS */
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes floatUp {
  0% { transform: translate(-50%, 0px); }
  50% { transform: translate(-50%, 20%); }
  100% { transform: translate(-50%, 0px); }
}

@keyframes floatUp {
  0% { transform: translate(-50%, 0px); }
  50% { transform: translate(-50%, 20%); }
  100% { transform: translate(-50%, 0px); }
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.2s ease-in 0, opacity 300ms;
}

/* STYLES */
.section {
  text-align: center;
  padding-top: 6rem;
}
.section--dark {
    background-color: rgba(119, 119, 119, 0.10);
  }
.section--dark p {
      color: #616161;
    }
.section-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    position: relative;
    width: 96%;
  }
@media all and (min-width: 768px) {
.section-container {
      width: 46.875rem
  }
    }
@media all and (min-width: 992px) {
.section-container {
      width: 62rem
  }
    }
@media all and (min-width: 1050px) {
.section-container {
      width: 68rem
  }
    }
.section-container .section-header {
      display: inline-block;
      color: #333;
      margin: 0 auto 1.875rem;
      padding-bottom: 1.25rem;
      font-weight: 300;
      position: relative;
      opacity: 0;
    }
.section-container .section-header::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 1.25rem;
        right: 1.25rem;
        background-color: #a5352f;
        height: 0.125rem;
      }
@media all and (max-width: 991px) {
.section-container .section-header {
        font-size: 2rem;
        line-height: 2.875rem
    }
      }
@media all and (min-width: 992px) {
.section-container .section-header {
        font-size: 2.5rem;
        line-height: 3.125rem
    }
      }
.section-container .section-subheader,
    .section-container .features-column,
    .section-container .fadeIn {
      opacity: 0;
    }
.section-container .section-subheader--right, .section-container .features-column--right, .section-container .fadeIn--right {
        transform: translateX(100%);
      }
.section-container .section-subheader--left, .section-container .features-column--left, .section-container .fadeIn--left {
        transform: translateX(-100%);
      }
.section-container .section-subheader--screenshot, .section-container .features-column--screenshot, .section-container .fadeIn--screenshot {
        transform: translateY(100%);
      }
.section--animated .section-header,
    .section--animated .section-subheader,
    .section--animated .features-column,
    .section--animated .fadeIn {
      opacity: 1;
      transform: translate(0%, 0%);
      transition: opacity ease 2s, transform ease 1.5s;
    }
.section--footer {
    position: relative;
    background-position: bottom center;
    background-repeat: repeat-x;
    overflow: hidden;
    border-top: 0.625rem solid #f0f0f0;
    padding: 4rem 0 0;
    color: #cccccc;
    text-align: center;
    visibility: visible;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
  }
.section--footer .social-media-links {
      display: flex;
      justify-content: center;
      align-content: space-between;
      margin-bottom: 2.5rem;
    }
.section--footer .social-media-links a {
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.15);
        font-weight: normal;
        color: #595959;
        transition: all ease 0.25s;
        margin: 0 0.25rem;
      }
.section--footer .social-media-links a:hover,
        .section--footer .social-media-links a:focus {
          background-color: #a5352f;
        }
.section--footer .social-media-links i {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.25rem;
        line-height: 2.5rem;
        text-align: center;
        color: #ffffff;
      }
.section--footer .download-buttons {
      margin: 0 0.625rem 2.5rem;
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: center;
    }
.section--footer .copyright {
      border-top: 0.0625rem solid #eeeeee;
      padding-top: 1.5625rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }

.navbar {
  height: 4.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: -10rem;
  background: #ffffff;
  z-index: 99999;
  opacity: 0.95;
}

.navbar .links {
    visibility: visible;
    display: flex;
    align-items: center;
    z-index: 1;
  }

@media all and (max-width: 768px) {

.navbar .links {
      flex-direction: column;
      align-items: flex-start;
      padding: 0.5rem 0;
      background: rgba(255, 255, 255, 0.95)
  }
    }

@media all and (min-width: 768px) {

.navbar .links a {
        padding: 0 1rem
    }
      }

.navbar .links a {
      text-decoration: none;
      line-height: 25px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #595959;
      position: relative;
}

.navbar .links a.active::after {
          content: "";
          position: absolute;
          top: 1.75rem;
          left: 1.25rem;
          right: 1.25rem;
          background-color: #a5352f;
          height: 0.125rem;
        }

.navbar .links--dropdown {
      transition: margin ease 0.15s;
    }

@media all and (max-width: 768px) {

.navbar--hidden .links {
        visibility: hidden
    }
      }

.navbar-content-container {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
  }

.navbar-content-container .top-drawer {
      position: relative;
    }

.navbar-content-container .top-drawer .navbar-logo-anchor {
        position: absolute;
        height: 100%;
      }

@media all and (max-width: 768px) {

.navbar-content-container {
      flex-direction: column;
      padding: 0
  }
      .navbar-content-container .top-drawer {
        transition: box-shadow ease 0.4s;
        height: 4.5rem;
      }
        .navbar-content-container .top-drawer--open {
          box-shadow: none;
        }
        .navbar-content-container .top-drawer {
        background: #fff;
        display: flex;
        justify-content: space-between;
        border-bottom: 0.0625rem solid rgb(231, 231, 231);
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
        z-index: 2;
  }
        .navbar-content-container .top-drawer .navbar-logo-anchor {
          margin-left: 1rem;
          padding: 0.25rem 0;
        }
          .navbar-content-container .top-drawer .navbar-logo-anchor .navbar-logo {
            height: 4rem;
            padding-top: 0.5rem;
          }
        .navbar-content-container .top-drawer .navbar-toggle {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 0.5rem 0.75rem;
          margin: 1rem 1rem 1rem;
          background: rgba(119, 119, 119, 0.1);
        }
          .navbar-content-container .top-drawer .navbar-toggle:hover {
            background: rgba(119, 119, 119, 0.15);
          }
          .navbar-content-container .top-drawer .navbar-toggle {
          position: absolute;
          right: 0;
  }
          .navbar-content-container .top-drawer .navbar-toggle .toggle-icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: #888;
            margin: 0.25rem 0 0.25rem;
          }
    }

@media all and (min-width: 769px) {

.navbar-content-container {
      height: 100%;
      border-bottom: 0.0625rem solid #e7e7e7;
      box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1)
  }
      .navbar-content-container .navbar-logo {
        height: 100%;
        padding: 0.25rem 0;
      }
      .navbar-content-container .navbar-toggle {
        display: none;
      }
    }

@media all and (min-width: 992px) {

.navbar-content-container {
      padding: 0 6rem
  }
    }

@media all and (min-width: 1280px) {

.navbar-content-container {
      padding: 0 16rem
  }
    }

.navbar--visible {
    margin-top: 0;
    box-shadow: none;
  }

.navbar--visible .links a {
        padding-top: 0;
        padding-bottom: 0;
      }

.navbar--visible .links a:hover {
          color: #a5352f;
        }

@media all and (max-width: 768px) {

.navbar--visible .navbar-content-container {
        padding: 0;
        flex-direction: column
    }
        .navbar--visible .navbar-content-container .links {
          margin-top: -13rem;
        }
          .navbar--visible .navbar-content-container .links a {
            padding: 0.375rem 1rem;
          }
            .navbar--visible .navbar-content-container .links a.active {
              color: #a5352f;
            }
            .navbar--visible .navbar-content-container .links a::after {
              background-color: transparent;
            }
          .navbar--visible .navbar-content-container .links--visible {
            visibility: visible;
            border-bottom: 0.0625rem solid #e7e7e7;
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
            margin-top: 0;
            font-size: 0.875rem;
          }
      }

.footer__links {
  display: flex;
  justify-content: center;
}

.footer__links a {
    margin: 0 0.5rem;  
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #595959;
  }

.footer__links a:hover,
    .footer__links a:focus {
      color: #a5352f;
    }

.app-icon {
  display: inline-flex;
  text-decoration: none;
}

/* NORMALIZE */
:focus:not(:focus-visible) {
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1.42175857143;
  color: #333;
	background-color: #fff;
	margin: 0;
}

p {
  color: #595959;
  line-height: 1.75rem;
  margin-bottom: 1.875rem;
}

a {
  background: 0 0;
  cursor: pointer;
}

a:active {
  outline: 0;
}

b,strong {
  font-weight: 700;
}

h1 {
	margin: .67em 0;
	font-size: 40px;
}

h3 {
  color: #333;
}

img {
  border: 0;
}

ul {
  padding-inline-start: 0;
  margin-top: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
}

@media print {
  * {
    color: #000!important;
    text-shadow: none!important;
    background: 0 0!important;
    box-shadow: none!important;
	}
	
	a {
		color: #428bca;
		text-decoration: none;
	}

  a,  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="javascript:"]:after,  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  h2,  h3,  p {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }
}

* {
  font-family: 'Lato', sans-serif;
}

*,:after,:before {
  box-sizing: border-box;
}

button {
	margin: 0;
	border: 0;
	padding: 0;
	border-radius: 50%;
	cursor: pointer;
}
