.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
}
.error {
  &-heading {
    color: #a5352f;
    font-size: 6rem;
    margin: 1rem 0;
  }
  &-message {
    margin: 0 0 1.875rem;
  }
}
