$doglog-red: #a5352f;
$doglog-box-shadow: 0 5px 15px rgba(0,0,0,0.2);

.section--our-family {
  padding-top: 6rem;
  .section-container {
    animation: fadeIn 1.5s;
    @media all and (min-width: 1200px) {
      width: 72rem;
    }
    &--our-family {
      padding-bottom: 2rem;
    }
    &--our-story {
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-top: 0.0625rem solid #eeeeee;
      .our-story-image-container img {
        border-radius: 0.25rem;
        width: 80%;
        margin: 1rem;
        box-shadow: $doglog-box-shadow;
      }
      .our-story-container {
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        .go-fund-me {
          text-align: center;
          font-weight: 300;
          font-size: 1.75rem;
          &-button {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14rem;
            height: 4rem;
            background-color: $doglog-red;
            border-radius: 4px;
            box-shadow: $doglog-box-shadow;
            color: white;
            font-size: 1.5rem;
            transition: background-color ease-in 0.15s;
            &:focus {
              outline: none;
            }
            &:hover {
              background-color: rgb(138, 45, 40);
            }
          }
        }
      }
    }
    .headshots-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .headshot-container {
        box-shadow: $doglog-box-shadow;
        border-radius: 0.25rem;
        margin: 1rem;
        background: rgb(255,255,255);
        text-decoration: none;
        will-change: transform;
        transition: transform 0.25s ease;

        &:hover {
          transform: scale(1.05);
        }

        p {
          color: $doglog-red;
          &.name {
            margin-bottom: 0;
            margin-top: 0.125rem;
            font-weight: 600;
            color: $doglog-red;
          }
          &.title {
            margin: 0 0 1rem;
          }
        }
        img {
          border-radius: 0.25rem 0.25rem 0 0;
          border: 0.5rem solid rgb(255, 255, 255);
        }
      }
    }
  }
}
